<body class = "home-page">
    <%= render 'layouts/navbar_home' %>
    <div class="container">
      <div id="about" class="row">
        <div class="box">
          <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">We built a service to help you
              <strong>help you</strong>
            </h2>
            <hr>
            <hr class="visible-xs">
            <p>It helps you to know what people knew and do about your buisiness  </p>
            <p>Lots of tasks doing by your statistics manager and guys which is providing not cheap help</p>
          </div>
        </div>
      </div>

      <div id="about" class="row">
        <div class="box">
          <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center"> Seven years in the business
              <strong>help you</strong>
            </h2>
            <hr>
            <hr class="visible-xs">
            <p> To establish communication with the problems and the family people a chance to climb . Spirit , try to be a businessman bad, and extract .</p>
            <p> That will certainly come your company's side . Seven years in the business of billions of dollars to those who had the reputation of a winner. You can fulfill all their promises , keep their word , to work honestly .</p>
            <p> The problems , and of course, to anything. Could there be something good looking people on the other - the people .</p>
          </div>
        </div>
      </div>
    </div>
<%= render 'layouts/footer_home' %>
</body>