<div id="wrapper">

  <%= render 'layouts/admin_navbar' %>

  <div id="page-wrapper" style="height: 100vh;">

    <div class="container-fluid">

    <h1> Administration panel</h1>
    </div>
  </div>
</div>