<body class="home-page" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="brand">Business Pie</div>
        <div class="address-bar">Politechnichna st | Kiev</div>
        <%= render 'layouts/navbar_home' %>
            <%= @reviews.each do |review| %>

                <div class="row">
                  <div class="container">
                      <div class="box">
                          <hr>
                          <h2 class="intro-text text-center">  <%= review.user.name %>
                          </h2>
                          <hr>
                          <%= review.text %>
                      </div>
                  </div>
                </div>
            <% end %>
        </div>
    </div>
</body>