<div class="panel panel-info">
  <div class="panel-heading">
    <%= t.name %>
    <%= link_to  "Change", controller: :dashboard, action: :edit_tool, :class => "btn btn-default",style:"margin-left: 30%;" do %>
        <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>Change
    <% end %>
  </div>
  <div class="panel-body">
    <p><%= t.description %></p>
  </div>
</div>